<div class="container">
    <h1>Comentarios</h1>
    <br/>
    <div *ngIf="comentarios.length === 0">
        <p class="text-danger">No hay comentarios para este cubo</p>
    </div>
    <div *ngIf="comentarios.length > 0">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of comentarios">
                    <td>{{c.fechaComentario}}</td>
                    <td>{{c.comentario}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>